@use '@/styles/abstracts/_core.scss' as *;

.bannerContainer {
  width: 100%;
  height: 550px;
  position: relative;

  // 엑박일 경우 사진 색상
  background-color: $gray900;
}

.bannerImage {
  position: absolute;
  width: 100%;
}

.bannerContentWrapper {
  position: absolute;
  max-width: 1200px;
  top: 35%;
  right: 50%;
}

.bannerContent {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bannerTitle {
  @include text4XlBold;
  color: $white;
}

.bannerSubtitle {
  @include text2XlBold;
  color: $white;
  //   margin-top: 20px;
}
