@use '@/styles/abstracts/core' as *;

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: $headerHeight;
  width: 100dvw;

  border-bottom: 1px solid $gray300;
  background-color: $white;
  z-index: $headerZIndex;
}

.headerContents {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  margin: 0 24px;
}

.notLoggedInContainer {
  display: flex;
  gap: 25px;
  @include textMdMedium;

  a {
    color: $black;
    text-decoration: none;
  }
}

@include mobile {
  .headerLogo {
    img {
      @include mobile {
        width: 140px;
        height: auto;
      }
    }
  }
}
