@use '@/styles/abstracts/core' as *;

.loggedInContainer {
  display: flex;
  gap: 25px;
  align-items: center;

  .verticalSeparator {
    height: 22px;
    width: 1px;
    background-color: $gray300;
  }

  .profileContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    @include textMdMedium;

    img {
      border-radius: 50%;
    }

    .nickname {
      width: fit-content;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@include mobile {
  .loggedInContainer {
    gap: 12px;
  }
}
