@use '@/styles/abstracts/core' as *;

.reservationsContainer {
  position: relative;
  width: 100%;
}

.title {
  @include text3XlBold;
  margin-bottom: 38px;
}

.reservationsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.emptyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
  @include tablet {
    margin-top: 64px;
  }

  @include mobile {
    margin-top: 50px;
  }
}

.myLevelsGroup {
  display: flex !important;
  justify-content: center !important;
  flex-grow: 1 !important;
  width: 100% !important;
}

.availableDates {
  width: 100% !important;
  background-color: $green100 !important;
  color: $green300 !important;
}

.day {
  width: clamp(50px, 6vw, 95px) !important;
  height: 100px !important;
  @include tablet {
    width: clamp(40px, 6vw, 80px) !important;
    height: 80px !important;
  }

  @include mobile {
    width: clamp(20px, 10vw, 80px) !important;
    height: 70px !important;
  }
}
