@use '@/styles/abstracts/core' as *;

.formBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headText {
  @include text3XlBold;
}

.submitButton {
  @include textLgSemibold;
}

.priceInput {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox  */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  label {
    @include text2XlBold;
  }
  @include tablet {
  }

  @include mobile {
    @include textXlBold;
  }
}

.dateTimeInputLabel {
  @include text2XlBold;

  @include tablet {
  }

  @include mobile {
    display: none;
  }
}
