@use '@/styles/abstracts/_core.scss' as *;

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  border-radius: 20px;
  border: 1px solid $red300;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.cardLarge {
    width: 384px;
    height: 384px;
  }

  &.cardSmall {
    width: 283px;
    height: 283px;
  }
}
