@use '@/styles/abstracts/core' as *;

.footerContainer {
  background-color: $nomadBlack;
  color: $gray900;
  padding: 32px 104px 64px 104px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  // 하단 고정
  // position: fixed;
  // left: 0;
  // right: 0;
  // bottom: 0;

  @include textLgRegular;

  @media (max-width: 743px) {
    padding: 32px 39px 66px 39px;
    gap: 24px;
    justify-content: center;
  }
}

.footerMiddleSection {
  display: flex;
  gap: 30px;
}

.footerSocialSection {
  display: flex;
  gap: 12px;
}

.footerIcon {
  width: 20px;
  height: 20px;
}
