@use '@/styles/abstracts/_core.scss' as *;

.hr2 {
  max-width: 790px;
  height: 1px;
  opacity: 0.25;
  background-color: $nomadBlack;
  margin: 16px 0;

  @include tablet {
    max-width: 469px;
  }

  @include mobile {
    max-width: 327px;
  }
}

.activityReviewAndPagination {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 790px;

  @include tablet {
    max-width: 469px;
  }

  @include mobile {
    max-width: 327px;
  }
}

.activityReview {
  @include text2LgBold;
  color: $nomadBlack;
}

.averageRatingAndSatisfaction {
  width: 187px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.averageRating {
  @include text3-25XlSemibold;
  color: $nomadBlack;
}

.satisfaction {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.satisfactionTitle {
  @include text2Lg;
  color: $nomadBlack;
}

.reviewCountContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}

.reviewCount {
  @include textMdRegular;
  color: $black;
}

.reviewContainer {
  display: flex;
  gap: 16px;
  width: 100%;
}

.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $gray300;
}

.reviewInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.reviewer {
  @include textLgBold;
  color: $nomadBlack;
}

.dash {
  @include textMdRegular;
  color: $nomadBlack;
}

.reviewDate {
  @include textLgRegular;
  color: $gray600;
}

.reviewContent {
  @include textLgRegular;
  color: $nomadBlack;
}

.noReviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  width: 100%;
}

.reviewPagination {
  display: flex;
  justify-content: center;
}
