@use '@/styles/abstracts/_core.scss' as *;

.hr2 {
  max-width: 790px;
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background-color: $nomadBlack;
  margin-top: 16px;

  @include tablet {
    max-width: 100%;
    margin-left: -16px;
  }

  @include mobile {
    width: 100vw;
    max-width: 100vw;
  }
}

.activityReviewAndPagination {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 790px;
  // margin-top: 30px;
  margin-left: 0;

  &.fullWidth {
    max-width: 100%;
  }

  @include tablet {
    max-width: 429px;
    margin-top: 30px;

    &.fullWidth {
      max-width: 100%;
    }
  }

  @include mobile {
    max-width: 327px;
    margin: 0;

    &.fullWidth {
      max-width: 100%;
    }
  }
}

.activityReview {
  @include text2LgBold;
  color: $nomadBlack;
}

.averageRatingAndSatisfaction {
  display: flex;
  align-items: center;
  gap: 16px;
}

.averageRating {
  @include text3-25XlSemibold;
  color: $nomadBlack;
}

.satisfaction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.satisfactionTitle {
  @include text2Lg;
  color: $nomadBlack;
}

.reviewCountContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}

.reviewCount {
  @include textMdRegular;
  color: $black;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.profileImageContainer {
  flex-shrink: 0;
  position: relative;
  width: 45px;
  height: 45px;

  // 프로필 사진이 없을 시 디폴트 이미지
  border-radius: 50%;
  background-color: $gray300;
}

.profileImage {
  object-fit: cover;
  border-radius: 50%;
}

.reviewInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
}

.reviewer {
  @include textLgBold;
  color: $nomadBlack;
}

.dash {
  @include textMdRegular;
  color: $nomadBlack;
}

.reviewDate {
  @include textLgRegular;
  color: $gray600;
}

.reviewContent {
  @include textLgRegular;
  color: $nomadBlack;
  word-break: break-word;
}

.fullWidth {
  width: 100% !important;
}

.noReviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
  width: 100%;

  @include tablet {
    margin-top: 24px;
    justify-content: center;
    align-items: center;
  }

  @include mobile {
    margin-top: 24px;
    margin-left: 16px;
  }
}

.reviewPagination {
  display: flex;
  justify-content: center;

  @include mobile {
    margin-top: 24px;
  }
}

.review {
  display: flex;
  // justify-content: space-between;
  gap: 16px;
}
