@use '@/styles/abstracts/_core.scss' as *;

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: -60px;
  padding: 32px 24px;
  border-radius: 16px;
  background-color: $white;
  box-shadow: 0px 4px 16px 0px #1122110d;
}

.inputText {
  @include textXlBold;
  color: $black;
}

.searchInput {
  max-width: 1004px;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.buttonWidth {
  width: 136px !important;
  height: 56px !important;
}
