@use '@/styles/abstracts/core' as *;

.mobileReservationContainer {
  position: fixed;
  z-index: $headerZIndex; // 모달을 여는 부모의 z-index가 header보다 작으면 쌓임 맥락에 의해 모달의 z-index가 아무리 커도 header를 넘을 수 없음
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: $mobileReservationHeight;
  border-top: 1px solid $gray700;
  padding: 0 16px;
  background-color: $white;

  .selectorContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .priceAndHeadCount {
      display: flex;
      .price {
        @include textXlBold;
      }

      .headCountButton {
        @include text2LgMedium;
        color: $green300;
        text-decoration: underline;
        border: none;
        background-color: $white;
      }
    }

    .selectDateButton {
      @include textMdSemibold;
      text-align: start;
      padding: 0;
      color: $green300;
      text-decoration: underline;
      border: none;
      background-color: $white;
    }
  }

  .submitButton {
    width: 106px;
    height: 48px;
  }
}
