@use '@/styles/abstracts/core' as *;

.reservationContainer {
  width: 384px;

  padding: 24px 24px 24px 18px;
  border: 1px solid $gray300;
  border-radius: 12px;

  box-shadow: 0px 4px 16px 0px #1122110d;

  .submitButton {
    width: 100%;
  }
}

.priceContainer {
  @include text3XlBold;
  color: $black;

  .perPerson {
    @include textXlRegular;
    color: $gray900;
  }

  .separator {
    margin: 16px 0;
  }
}

.calendarContainer {
  .sectionTitle {
    padding-bottom: 16px;
  }

  .calendarWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .levelsGroup {
      border: 1px solid $gray200;
      border-radius: 8px;
      padding: 10px 27.33px;
    }

    .availableDates {
      background-color: $green100;
      color: $green300;
      &:hover {
        background-color: rgba($green300, 0.3);
      }
    }

    .day {
      width: 35.71px;
      height: 32px;
      border-radius: 8px;

      font-size: 13px;
      font-weight: 600;
      line-height: 17.7px;

      &[data-weekend] {
        color: $black;
      }

      &[data-selected] {
        background-color: $green300;
        color: $white;
      }
    }
  }
}

.availableTimeContainer {
  .sectionTitle {
    padding-top: 16px;
    padding-bottom: 14px;
  }

  .availableTimeList {
    display: flex;
    gap: 12px;
  }

  .availableTime {
    border: 1px solid $nomadBlack;
    border-radius: 8px;
    padding: 10px 12px;
    @include textLgMedium;

    &:hover {
      cursor: pointer;
    }

    &.selectedTime {
      background-color: $nomadBlack;
      color: $white;
    }
  }

  .separator {
    margin-top: 16px;
    margin-bottom: 12px;
  }
}

.headCountContainer {
  .sectionTitle {
    padding-bottom: 8px;
  }
}

.totalContainer {
  .separator {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.separator {
  height: 1px;
  width: 100%;
  background-color: $gray300;
}

.sectionTitle {
  @include textXlSemibold;
  color: $nomadBlack;
}
