@use '@/styles/abstracts/_core.scss' as *;

.hr {
  max-width: 100vw;
  width: 100%;
  height: 1px;
  opacity: 0.25;
  background-color: $nomadBlack;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
    margin: 0 auto;
  }
}

.activityInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
}

.categoryAndTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 10px;
  min-height: 80px;
}

.categoryAndTitle {
  color: $nomadBlack;

  .category {
    @include textMdRegular;
    opacity: 0.75;
  }

  .title {
    @include text3XlBold;
    display: flex;
    gap: 6px;
  }
}

.copyIcon {
  display: flex;
  align-self: flex-end;
}

.ratingAndAddressContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.ratingContainer {
  display: flex;
  align-items: center;
  white-space: nowrap; // 내부 텍스트가 줄바꿈되지 않도록 설정
  flex-shrink: 0;
  gap: 6px;
}

.locationContainer {
  display: flex;
  align-items: center;
  gap: 6px;

  @include mobile {
    gap: 2px;
  }
}

.address {
  @include textMdRegular;
  color: $nomadBlack;
  opacity: 0.75;
  overflow: hidden;
  text-overflow: ellipsis; // 넘치는 텍스트를 줄임표(...)로 표시
  white-space: nowrap;

  @include mobile {
    white-space: normal;
    word-break: break-word; // 텍스트가 컨테이너의 너비를 초과할 때 단어를 어떻게 나눌지 결정하는 속성
  }
}

.imageContainer {
  margin-top: 25px;
  margin-bottom: 51px;
  max-width: 1200px;
  height: 534px;
  display: flex;
  gap: 8px;

  @include tablet {
    height: 400px;
  }

  @include mobile {
    height: 300px;
    flex-direction: column;
    position: relative;
    margin-inline: -17px;
    margin-bottom: -10px;

    > div:not(.mainImageContainer) {
      display: none;
    }
  }
}

.mainImageContainer {
  flex: 1;
  height: 100%;
  position: relative;

  @include mobile {
    width: 100%;
  }
}

.imageNavigation {
  display: none;

  @include mobile {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

.navButton {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.subImagesContainer {
  flex: 1;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @include mobile {
    display: none;
  }
}

.subImage {
  position: relative;
}

.subImageCount1 {
  .subImage {
    width: 100%;
    height: 100%;
  }
}

.subImageCount2 {
  display: flex;
  gap: 8px;

  .subImage {
    flex: 1;
    height: 100%;
  }
}

.subImageCount3,
.subImageCount4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;

  .subImage {
    width: 100%;
    height: 100%;
  }
}

// 서브 이미지 없을 경우
.mainImageContainer:only-child {
  flex: 1;
}

.introductionAndMapContainer {
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  .introductionContainer {
    color: $nomadBlack;

    .activityDescription {
      @include textXlBold;
    }

    .description {
      @include textLgRegular;
      opacity: 0.75;
    }
  }

  .mapContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 800px;
    width: 100%;
  }

  .map {
    background-color: $gray300;
    border-radius: 16px;
    overflow: hidden;
    z-index: 0;
  }
}

// 모바일 버전에서 hr 숨기기
.introductionContainerWrapper {
  @include mobile {
    .hr {
      display: none;
    }
  }
}

.calendarAndInfoContainer {
  display: flex;
  gap: 20px;
  margin-bottom: -20px;

  // ResponsiveReservation이 있을 때
  &:has(> div + div) {
    .introductionAndMapContainer {
      max-width: 790px;
      margin-bottom: 40px;
    }

    .hr {
      max-width: 790px;
      width: 100vw;
      height: 1px;
      opacity: 0.25;
      background-color: $nomadBlack;

      @include tablet {
        width: calc(100% + 40px);
        margin-left: -24px;
      }

      @include mobile {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  // ResponsiveReservation이 없을 때 (creator view)
  &:not(:has(> div + div)) {
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;

    .introductionAndMapContainer {
      width: 100%;
      max-width: 100%;

      .mapContainer {
        max-width: 100%;
      }

      .map {
        width: 100%;
        height: 400px;
      }
    }

    .hr {
      width: 100%;
    }
  }
}

.dropdownWrapper {
  display: flex;
  align-items: center;
}

.noDateWarning {
  display: flex;
  align-items: flex-end;
  color: $red300;
  @include textMdBold;

  margin-left: 8px;
}
