$white: #fff;
$black: #1b1b1b;
$nomadBlack: #112211;
$gray900: #4b4b4b;
$gray800: #79747e;
$gray700: #a1a1a1;
$gray600: #a4a1aa;
$gray500: #adaeb8;
$gray400: #cbc9cf;
$gray300: #ddd;
$gray200: #eee;
$gray100: #fafafa;
$green300: #3b2b0b;
$green200: #00ac07;
$green100: #ced8d5;
$red300: #ff472e;
$red200: #ffc2ba;
$red100: #ffe4e0;
$orange200: #ff7c1d;
$orange100: #fff4e8;
$yellow: #ffc23d;
$blue300: #0085ff;
$blue200: #2eb4ff;
$blue100: #e5f3ff;
$giveMeNavy: #21282e;
$giveMeYellow: #f0cb33;
$giveMeNavyPale: #656d75;
$giveMeNavyPalest: #7d858d;
