$fontSize: (
  '4Xl': 68px,
  '3.5Xl': 54px,
  '3Xl': 32px,
  '2Xl': 24px,
  'Xl': 20px,
  '2Lg': 18px,
  'Lg': 16px,
  'Md': 14px,
  'Sm': 13px,
  'Xs': 12px,
);

// 줄 높이
$lineHeight: (
  '4Xl': 78px,
  '3.5Xl': 64px,
  '3Xl': 42px,
  '2Xl': 32px,
  'Xl': 32px,
  '2Lg': 26px,
  'Lg': 26px,
  'Md': 24px,
  'Sm': 22px,
  'Xs': 18px,
);

// 폰트 굵기
$fontWeight: (
  'Bold': 700,
  'Semibold': 600,
  'Medium': 500,
  'Regular': 400,
);
