// media-query 관련 mixins
// Media Query
@mixin desktop {
  @media (min-width: 1201px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// font-style 관련 mixins
@mixin text3XlBold {
  font-size: map-get($fontSize, '3Xl');
  line-height: map-get($lineHeight, '3Xl');
  font-weight: map-get($fontWeight, 'Bold');
}

@mixin text3XlSemibold {
  font-size: map-get($fontSize, '3Xl');
  line-height: map-get($lineHeight, '3Xl');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin text2XlBold {
  font-size: map-get($fontSize, '2Xl');
  line-height: map-get($lineHeight, '2Xl');
  font-weight: map-get($fontWeight, 'Bold');
}

@mixin text2XlSemibold {
  font-size: map-get($fontSize, '2Xl');
  line-height: map-get($lineHeight, '2Xl');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin text2XlMedium {
  font-size: map-get($fontSize, '2Xl');
  line-height: map-get($lineHeight, '2Xl');
  font-weight: map-get($fontWeight, 'Medium');
}

@mixin text2XlRegular {
  font-size: map-get($fontSize, '2Xl');
  line-height: map-get($lineHeight, '2Xl');
  font-weight: map-get($fontWeight, 'Regular');
}

@mixin textXlBold {
  font-size: map-get($fontSize, 'Xl');
  line-height: map-get($lineHeight, 'Xl');
  font-weight: map-get($fontWeight, 'Bold');
}

@mixin textXlSemibold {
  font-size: map-get($fontSize, 'Xl');
  line-height: map-get($lineHeight, 'Xl');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin textXlMedium {
  font-size: map-get($fontSize, 'Xl');
  line-height: map-get($lineHeight, 'Xl');
  font-weight: map-get($fontWeight, 'Medium');
}

@mixin textXlRegular {
  font-size: map-get($fontSize, 'Xl');
  line-height: map-get($lineHeight, 'Xl');
  font-weight: map-get($fontWeight, 'Regular');
}

@mixin text2Lg {
  font-size: map-get($fontSize, '2Lg');
  line-height: map-get($lineHeight, '2Lg');
  font-weight: map-get($fontWeight, 'Regular');
}

@mixin text2LgBold {
  font-size: map-get($fontSize, '2Lg');
  line-height: map-get($lineHeight, '2Lg');
  font-weight: map-get($fontWeight, 'Bold');
}

@mixin text2LgSemibold {
  font-size: map-get($fontSize, '2Lg');
  line-height: map-get($lineHeight, '2Lg');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin text2LgMedium {
  font-size: map-get($fontSize, '2Lg');
  line-height: map-get($lineHeight, '2Lg');
  font-weight: map-get($fontWeight, 'Medium');
}

@mixin textLgBold {
  font-size: map-get($fontSize, 'Lg');
  line-height: map-get($lineHeight, 'Lg');
  font-weight: map-get($fontWeight, 'Bold');
}

@mixin textLgSemibold {
  font-size: map-get($fontSize, 'Lg');
  line-height: map-get($lineHeight, 'Lg');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin textLgMedium {
  font-size: map-get($fontSize, 'Lg');
  line-height: map-get($lineHeight, 'Lg');
  font-weight: map-get($fontWeight, 'Medium');
}

@mixin textLgRegular {
  font-size: map-get($fontSize, 'Lg');
  line-height: map-get($lineHeight, 'Lg');
  font-weight: map-get($fontWeight, 'Regular');
}

@mixin textMdBold {
  font-size: map-get($fontSize, 'Md');
  line-height: map-get($lineHeight, 'Md');
  font-weight: map-get($fontWeight, 'Bold');
}

@mixin textMdSemibold {
  font-size: map-get($fontSize, 'Md');
  line-height: map-get($lineHeight, 'Md');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin textMdMedium {
  font-size: map-get($fontSize, 'Md');
  line-height: map-get($lineHeight, 'Md');
  font-weight: map-get($fontWeight, 'Medium');
}

@mixin textMdRegular {
  font-size: map-get($fontSize, 'Md');
  line-height: map-get($lineHeight, 'Md');
  font-weight: map-get($fontWeight, 'Regular');
}

@mixin textSmSemiBold {
  font-size: map-get($fontSize, 'Sm');
  line-height: map-get($lineHeight, 'Sm');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin textSmMedium {
  font-size: map-get($fontSize, 'Sm');
  line-height: map-get($lineHeight, 'Sm');
  font-weight: map-get($fontWeight, 'Medium');
}

@mixin textXsSemiBold {
  font-size: map-get($fontSize, 'Xs');
  line-height: map-get($lineHeight, 'Xs');
  font-weight: map-get($fontWeight, 'Semibold');
}

@mixin textXsMedium {
  font-size: map-get($fontSize, 'Xs');
  line-height: map-get($lineHeight, 'Xs');
  font-weight: map-get($fontWeight, 'Medium');
}

@mixin textXsRegular {
  font-size: map-get($fontSize, 'Xs');
  line-height: map-get($lineHeight, 'Xs');
  font-weight: map-get($fontWeight, 'Regular');
}
