@use '@/styles/abstracts/_core.scss' as *;

.allExperienceContainer {
  margin-top: 35px;
  margin-bottom: 32px;
}

.experienceText {
  @include text3XlBold;
  color: $black;
}

.allZoneCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 20px;
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 10px;
  }
}

.allZoneCardImage {
  width: 283px;
  height: 283px;
  position: relative;

  // 엑박일 경우 사진 크기 가늠할 수 있는 보더
  border-radius: 20px;
  border: 1px solid $gray300;
  background-color: $gray300;

  @include tablet {
    width: 221px;
    height: 221px;
  }

  @include mobile {
    width: 168px;
    height: 168px;
  }
}

.allZoneCardContent {
  position: relative;
  margin-top: 15px;

  @include tablet {
    width: 220px;
  }

  @include mobile {
    width: 164px;
  }
}

.allZoneCardRating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 5px;

  @include textLgMedium;

  & .allZoneCardRatingText {
    color: $black;
  }

  & .allZoneCardReviewCount {
    color: $gray700;
  }
}

.allZoneCardTitle {
  margin-bottom: 5px;
  @include text2XlSemibold;
  color: $black;
}

.allZoneCardPrice {
  @include text2LgBold;
  color: $black;
}

.allZoneCardPriceUnit {
  @include textLgRegular;
  color: $gray900;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}

.noActivityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 64px;
}

.noActivityText {
  @include text2LgMedium;
  color: $gray800;
}

.searchResultContainer {
  margin-top: 40px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.searchResultText {
  @include text3XlRegular;
  color: $nomadBlack;
}

.searchTerm {
  @include text3XlBold;
  color: $nomadBlack;
}

.searchResultCount {
  @include textLgRegular;
  color: $black;
}
