@use '@/styles/abstracts/core' as *;

.dropdownContainer {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.KebabIconWrapper {
  cursor: pointer;
}

.categoryWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid $gray800;
  border-radius: 6px;
  padding: 16px 20px;
}

.categoryValue {
}

.categoryWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid $gray800;
  border-radius: 6px;
  padding: 16px 20px;
}

.categoryValue {
}

.categoryWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid $gray800;
  border-radius: 6px;
  padding: 16px 20px;
}
.categoryValue {
}
.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  border-radius: 15px;
  border: 1px solid $green300;
  color: $green300;
  gap: 10px;
  cursor: pointer;
}

.DropdownInfo {
  padding: 18px 0;
  display: flex;
  justify-content: center;
  color: $green300;
  border-bottom: 1px solid $gray300;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
}

.categoryDropdownInfo {
  top: 60px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 6px;
  border: 1px solid $gray300;
  background-color: $white;
  width: 100%;
}

.kebabDropdownInfo {
  top: 50px;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 6px;
  border: 1px solid $gray300;
  background-color: $white;
  min-width: 160px;
  width: 100%;
}

.hideDropdownInfo {
  top: 25px;
  right: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 6px;
  border: 1px solid $gray300;
  background-color: $white;
  min-width: 160px;
  width: 100%;
}
