@use '@/styles/abstracts/core' as *;

.container {
  display: flex;
  flex-direction: column;
}
.datePickerInputContainer {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  @include tablet {
    gap: 5px;
    justify-content: space-between;
  }

  @include mobile {
    justify-content: space-between;
  }
}

.message {
  color: $red300;
  display: block;
  margin-top: 10px;
}

.datePickerWrapper {
  max-width: 380px;
  width: 100%;
  margin-right: 20px;
  @include tablet {
  }

  @include mobile {
    width: 130px;
    margin: 0;
  }
}

.timeWrapper {
  max-width: 140px;
  width: 100%;
  @include tablet {
  }

  @include mobile {
    width: 80px;
  }
}

.tilde {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 12px 0;
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.plusButton {
  margin: 25px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include tablet {
    margin: 25px 0 0 0;
  }

  @include mobile {
    margin: 25px 0 0 4px;
  }
}

.buttonImage {
  width: 44px;
  height: 44px;
}

.itemDateTimeContainer {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid $gray300;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.itemDateTime {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  @include tablet {
    justify-content: space-between;
  }

  @include mobile {
    justify-content: space-between;
    gap: 0;
  }
}

.itemDate {
  max-width: 380px;
  width: 100%;
  height: 56px;
  border: 1px solid $gray800;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 16px;
  margin-right: 20px;
  @include tablet {
  }

  @include mobile {
    width: 130px;
    margin: 0;
  }
}

.itemTime {
  max-width: 140px;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border: 1px solid $gray800;
  border-radius: 6px;
  padding: 16px;
  @include tablet {
  }

  @include mobile {
    width: 80px;
    margin: 0;
  }
}
.itemTilde {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px 0;
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.minusButton {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include tablet {
    margin: 0;
  }

  @include mobile {
    margin: 0;
  }
}

// 아래로는 Mantine 설정
.input {
  width: 100%;
  max-width: 380px;
  height: 56px;
  border: 1px solid $gray800;
  cursor: pointer;

  &:focus-within {
    border: 1px solid #f0cb33;
  }

  .error {
    border: 1px solid #ff472e;
  }

  &[data-selected] {
    background-color: $giveMeNavy;
    color: $white;
  }

  .root {
    --input-bd-focus: yellow;
  }
}

.day {
  &[data-selected] {
    background-color: $giveMeNavy;
    color: $white;
  }
  &[data-today] {
    border: 1px solid $gray900;
  }
}

.timeInput {
  width: 100%;
  max-width: 140px;
  height: 56px;
  border: 1px solid $gray800;
  cursor: pointer;

  &:focus-within {
    border: 1px solid #f0cb33;
  }

  .error {
    border: 1px solid #ff472e;
  }

  &[data-selected] {
    background-color: $giveMeNavy;
    color: $white;
  }

  .root {
    --input-bd-focus: yellow;
  }
}
