@use '@/styles/abstracts/core' as *;

.myExperienceManagement {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $gray100;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  gap: 20px;

  @media (max-width: 910px) {
    flex-direction: column;
    align-items: center; // 화면이 줄어들 때 중앙 정렬 유지
  }
}

.contentContainer {
  flex: 1;
  width: 100%;
  max-width: 738.4px; // 최대 너비를 설정하여 중앙 정렬 시 일정 너비 유지

  @media (max-width: 910px) {
    width: 100%; // 모바일에서 전체 너비 사용
    margin: 0 auto; // 중앙 정렬을 위한 자동 마진
  }
}

.footer {
  width: 100%;
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  @include text3XlBold;
}

.sideMenuContainer {
  flex: 0 0 250px;
  margin: 0 auto; // 기본 중앙 정렬
  z-index: 0;

  @media (max-width: 910px) {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center; // 모바일에서 중앙 정렬
  }
}
