@use '@/styles/abstracts/_core.scss' as *;

.loaderWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 10;
}
