@use '@/styles/abstracts/core' as *;

.myExperienceManagement {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $gray100;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer {
  width: 100%;
  padding: 20px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  @include text3XlBold;
}

.sideMenuContainer {
  flex: 0 0 250px; // 기본 사이드 메뉴 너비 설정
  margin: 0 auto; // 중앙 정렬을 위한 자동 마진 추가
  z-index: 0;
  @media (max-width: 768px) {
    flex: 0 0 auto; // 모바일에서 사이드 메뉴 너비 자동 조정
    width: 100%; // 전체 너비를 차지하도록 설정
    display: flex; // 모바일에서 중앙 정렬
    justify-content: center; // 중앙 정렬
  }
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%; // 최대 너비를 100%로 설정

  @media (max-width: 768px) {
    width: 100%; // 모바일에서 전체 너비를 차지하도록 설정
  }
}

.reservationCardList {
  justify-content: center;
  flex: 1; // 카드 리스트가 가능한 공간을 차지하도록 설정
  width: 100%; // 카드 리스트가 100% 너비를 가지도록 설정
  padding: 0 10px; // 좌우 여백 추가
}
