@use '/src/styles/abstracts/core' as *;

.authForm {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 56px 0 32px;

  button {
    height: 48px;

    &:disabled {
      cursor: not-allowed;
    }

    &.active {
      background-color: $giveMeYellow;
      color: $giveMeNavy;
      cursor: pointer;
    }
  }
}
