@use '@/styles/abstracts/_core.scss' as *;

.paginationWrapper {
  display: inline-flex;
  margin-top: 72px;

  @include tablet {
    margin-top: 90px;
  }

  @include mobile {
    margin-top: 24px;
  }

  :global(.mantine-Pagination-root) {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  :global(.mantine-Pagination-control) {
    background-color: white;
    color: $giveMeNavy;
    @include text2Lg;
    border: 1px solid $giveMeNavy;
    border-radius: 15px;

    height: 55px;
    width: 55px;

    // margin-bottom: 64px;

    &:hover {
      background-color: $white;
    }

    &[data-active] {
      background-color: $giveMeNavy;
      color: $white;

      &:hover {
        background-color: $giveMeNavy;
      }
    }
  }

  @include mobile {
    :global(.mantine-Pagination-control) {
      height: 40px;
      width: 40px;
    }
  }
}
