@use '@/styles/abstracts/core' as *;

.calendarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  div[data-calendar='true'] {
    width: 100%;
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 2px;
    }
  }

  .day {
    width: calc(700% / 7);
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 17.7px;
    border: 2px solid $gray500;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -2px;
      width: 2px;
      height: 100%;
      background-color: $gray500;
    }

    &[data-weekend] {
      color: $black;
    }
  }
}
