@use '@/styles/abstracts/_core.scss' as *;

.bestZoneCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.bestZoneCardImage {
  width: 283px;
  height: 283px;
  position: relative;
}

.bestZoneCardContent {
  position: absolute;
  padding: 15px;
  color: $gray900;
}

.bestZoneCardRating {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  span {
    margin-left: 5px;
    font-size: 14px;
    color: $gray900;
  }
}

.bestZoneCardTitle {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.bestZoneCardPrice {
  font-size: 14px;
}
