@use '@/styles/abstracts/core' as *;
.list {
  display: flex;
  flex-direction: column;
}
.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center; // 중앙 정렬
  width: 756px; // 너비 설정
  margin: 0 auto; // 가운데 정렬
}

.imageContainer {
  width: 100%; // 컨테이너 너비를 100%로 설정
  display: flex;
  justify-content: center; // 이미지 중앙 정렬
}

.text {
  @include textXlRegular;
  color: $gray800;
}
