@use '@/styles/abstracts/core' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  @include text3XlBold;
}

.list {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  @include text3XlBold;
}

.list {
  display: flex;
  flex-direction: column;
}

.text {
  @include textXlRegular;
  color: $gray800;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 756px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.loading {
  @include textLgRegular;
  color: $gray600;
}
.dropdownWrapper {
  width: 124.94px;
}
