.sideMenu {
  background-color: white;
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  z-index: 2;

  .menu {
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 10px 0;
        cursor: pointer;
        transition:
          background-color 0.3s,
          color 0.3s;
        color: gray; // 기본 텍스트 색상
        text-decoration: none; // 기본 링크 스타일 제거
        border-radius: 12px;
        &:hover {
          background-color: #e2e6ea;
        }

        &.active {
          background-color: #ced8d5; // 클릭된 페이지의 배경색
          font-weight: bold;
          color: #112211; // 클릭된 페이지의 텍스트 색상

          .menuIcon {
            filter: none; // 클릭된 페이지 아이콘 색상을 기본 색상으로 변경
            color: #112211; // 클릭된 페이지 아이콘 색상
          }
        }

        a {
          color: inherit; // 상속된 텍스트 색상 사용
          text-decoration: none; // 밑줄 제거
        }
      }
    }
  }
}

.menuIcon {
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  filter: brightness(0) saturate(100%) invert(40%); // 기본 아이콘 색상

  // 부모 li가 active 상태일 때 색상 변경
  li.active & {
    filter: brightness(0) saturate(100%) invert(0%); // 기본 색상으로 변경
  }
}
