@use '@/styles/abstracts/core' as *;

.userInfoForm {
  max-width: 792px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $gray100;
  z-index: 1;
}

.title {
  @include text3XlBold;
}

.form {
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.input {
  margin-bottom: 1rem;
}

.label {
  @include text2XlBold;
}

.submitButton {
  margin-top: 0;
}
