.user-info-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
}

.submit-button {
  margin-top: 1rem;
}
