@use '@/styles/abstracts/core' as *;

.userInfoForm {
  max-width: 792px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $gray100;
  z-index: 1;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include text3XlBold;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
}

.submitButton {
  margin-top: 0;
}
