@use '@/styles/abstracts/core' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  text-align: center;
}

.modalMessage {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1em;
}

.modalButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
}

.modalButton {
  width: 80px !important;
}

.modalIcon {
  margin-bottom: 10px;
}

.iconContainer {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.modalCheckIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
}
